{% extends 'base.html' %}

{% block title %}{{title|default:"Todo Manager"}}{% endblock %}

{% block content %}
    <h1>{{ task.title }}</h1>
    <p>Description: {{ task.description }} </p>
    <p>Priority: {{ task.priority }} </p>
    <p>Deadline: {{ task.deadline }}</p>

    {% if request.user.is_authenticated %}
        {% if request.user.role == 'admin' %}
            <a href="{% url 'task_update' slug=task.slug %}" class="btn-primary">Update Task Details</a>
            <a href="{% url 'task_delete' slug=task.slug %}" class="btn-primary">Delete Task Details</a>
        {% endif %}
    {% endif %}

{% endblock %}