{% extends 'base.html' %}

{% block title %}{{ title|default:"Todo Manager" }}{% endblock %}

{% block content %}
    <h1>Update Task: {{ task.title }} </h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create-input">
            {{ form.title }}
            {% for error in form.title.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="create-input">
            {{ form.description }}
        </div>

        <div class="create-input">
            {{ form.priority }}
            {% for error in form.priority.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="create-input">
            {{ form.deadline }}
            {% for error in form.deadline.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        </div>

        <button type="submit" class="btn-primary">Update Task</button>
    </form>

    <a href="{% url 'details' slug=fridge.slug %}" class="btn-primary">Cancel</a>
{% endblock %}